<div style="background: linear-gradient(to bottom, #200122, #6f0000); border: 2px; box-radius: 20px"><h1 style="color: white; text-align: center"><br> Hepatitis B<br></h1></div>

<p style="font-size: 22px"><b>Aim</b> : To implement Decision Tree with the given dataset of Hepatitis B </p>

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Building Feature Set

<p style="font-size: 22px"><b>About Data</b></p>
<p>This dataset contains details about 155 Humans and their condition related to Hepatitis B</p>
<p>Total No of Attributes are : 20 </p>
<p>Details of Attributes are as follows</p>
<ul>
    <li> Class: DIE, LIVE </li>
    <li> AGE: 10, 20, 30, 40, 50, 60, 70, 80 </li>
    <li> SEX: male, female </li>
    <li> STEROID: no, yes</li>
    <li> ANTIVIRALS: no, yes</li>
    <li> FATIGUE: no, yes</li>
    <li> MALAISE: no, yes</li>
    <li> ANOREXIA: no, yes</li>
    <li> LIVER BIG: no, yes</li>
    <li> LIVER FIRM: no, yes</li>
    <li> SPLEEN PALPABLE: no, yes</li>
    <li> SPIDERS: no, yes</li>
    <li> ASCITES: no, yes</li>
    <li> VARICES: no, yes</li>
    <li> BILIRUBIN: 0.39, 0.80, 1.20, 2.00, 3.00, 4.00</li>
    <li> ALK PHOSPHATE: 33, 80, 120, 160, 200, 250</li>
    <li> SGOT: 13, 100, 200, 300, 400, 500</li>
    <li> ALBUMIN: 2.1, 3.0, 3.8, 4.5, 5.0, 6.0</li>
    <li> PROTIME: 10, 20, 30, 40, 50, 60, 70, 80, 90</li>
    <li>  HISTOLOGY: no, yes</li>
</ul>

<p style="font-size: 22px"><b>Reading Data</b></p>

In [6]:
hep_data = pd.read_csv('./Datasets/hepatitis.data')
hep_data

,Class,Age,Sex,Streoid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhospate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
8,2,39,1,2,2,1,2,2,2,1,2,2,2,2,0.70,?,48,4.4,?,1
9,2,30,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,120,3.9,?,1
10,2,39,1,1,1,2,2,2,1,1,2,2,2,2,1.30,78,30,4.4,85,1
11,2,32,1,2,1,1,2,2,2,1,2,1,2,2,1.00,59,249,3.7,54,1
12,2,41,1,2,1,1,2,2,2,1,2,2,2,2,0.90,81,60,3.9,52,1
13,2,30,1,2,2,1,2,2,2,1,2,2,2,2,2.20,57,144,4.9,78,1
14,2,47,1,1,1,2,2,2,2,2,2,2,2,2,?,?,60,?,?,1
15,2,38,1,1,2,1,1,1,2,2,2,2,1,2,2.00,72,89,2.9,46,1
16,2,66,1,2,2,1,2,2,2,2,2,2,2,2,1.20,102,53,4.3,?,1
17,2,40,1,1,2,1,2,2,2,1,2,2,2,2,0.60,62,166,4.0,63,1
18,2,38,1,2,2,2,2,2,2,2,2,2,2,2,0.70,53,42,4.1,85,2
19,2,38,1,1,1,2,2,2,1,1,2,2,2,2,0.70,70,28,4.2,62,1
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
21,2,27,1,2,2,1,1,1,1,1,1,1,2,2,1.20,133,98,4.1,39,1
22,2,31,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,20,4.0,100,1
23,2,42,1,2,2,2,2,2,2,2,2,2,2,2,0.90,60,63,4.7,47,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
25,2,27,1,1,2,1,1,2,2,2,2,2,2,2,0.80,95,46,3.8,100,1
26,2,49,1,1,1,1,1,1,2,1,2,1,2,2,0.60,85,48,3.7,?,1
27,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
28,2,61,1,1,2,1,2,2,1,1,2,2,2,2,1.30,78,25,3.8,100,1
29,2,51,1,1,1,1,1,2,2,2,2,2,2,2,1.00,78,58,4.6,52,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
126,2,28,1,2,2,1,1,1,?,?,2,1,1,2,1.00,?,20,4.0,?,2
127,1,50,1,2,2,1,2,2,2,1,1,2,1,1,2.80,155,75,2.4,32,2
128,2,54,1,1,2,1,1,2,2,2,2,2,1,2,1.20,85,92,3.1,66,2
129,1,57,1,1,2,1,1,2,2,2,2,1,1,2,4.60,82,55,3.3,30,2
130,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,30,4.5,0,2
131,1,31,1,1,2,1,1,1,2,2,1,2,2,2,8.00,?,101,2.2,?,2
132,2,48,1,2,2,1,1,1,2,1,2,1,2,2,2.00,158,278,3.8,?,2
133,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.00,115,52,3.4,50,2
134,1,38,1,1,2,2,2,2,2,1,2,2,2,2,0.40,243,49,3.8,90,2
135,2,25,1,2,2,1,2,2,1,1,1,1,1,1,1.30,181,181,4.5,57,2
136,2,51,1,2,2,2,2,2,1,1,2,1,2,2,0.80,?,33,4.5,?,2
137,2,38,1,2,2,2,2,2,2,1,2,1,2,1,1.60,130,140,3.5,56,2
138,1,47,1,2,2,1,1,2,2,1,2,1,1,1,1.00,166,30,2.6,31,2
139,2,45,1,2,1,2,2,2,2,2,2,2,2,2,1.30,85,44,4.2,85,2
140,2,36,1,1,2,1,1,1,1,1,2,1,2,1,1.70,295,60,2.7,?,2
141,1,54,1,1,2,1,1,2,?,?,1,2,1,2,3.90,120,28,3.5,43,2
142,2,51,1,2,2,1,2,2,2,1,1,1,2,1,1.00,?,20,3.0,63,2
143,1,49,1,1,2,1,1,2,2,2,1,1,2,2,1.40,85,70,3.5,35,2
144,1,45,1,2,2,1,1,1,2,2,2,1,1,2,1.90,?,114,2.4,?,2
145,2,31,1,1,2,1,2,2,2,2,2,2,2,2,1.20,75,173,4.2,54,2
146,1,41,1,2,2,1,2,2,2,1,1,1,2,1,4.20,65,120,3.4,?,2
147,1,70,1,1,2,1,1,1,?,?,?,?,?,?,1.70,109,528,2.8,35,2
148,2,20,1,1,2,2,2,2,2,?,2,2,2,2,0.90,89,152,4.0,?,2
149,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.0,?,2
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

<p style="font-size: 22px"><b>Analyzing Data</b></p>

In [7]:
hep_data.describe(include='all')

,Class,Age,Sex,Streoid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhospate,SGOT,Albumin,Protime,Histology
count,155.000000,155.000000,155.000000,155,155.000000,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155.000000
unique,NaN,NaN,NaN,3,NaN,3,3,3,3,3,3,3,3,3,35,84,85,30,45,NaN
top,NaN,NaN,NaN,2,NaN,1,2,2,2,2,2,2,2,2,1.00,?,20,4.0,?,NaN
freq,NaN,NaN,NaN,78,NaN,100,93,122,120,84,120,99,130,132,29,29,7,25,67,NaN
mean,1.793548,41.200000,1.103226,NaN,1.845161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.451613
std,0.406070,12.565878,0.305240,NaN,0.362923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499266
min,1.000000,7.000000,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,2.000000,32.000000,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
50%,2.000000,39.000000,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,2.000000,50.000000,1.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
max,2.000000,78.000000,2.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000

<p style="font-size: 20px;"> Entries where data is missing </p>

In [27]:
hep_missing = hep_data.loc[(hep_data['Bilirubin']=='?') | (hep_data['AlkPhospate']=='?') | (hep_data['SGOT']=='?') | (hep_data['Albumin']=='?') | (hep_data['Protime']=='?')]

In [36]:
hep_missing.iloc[:, 14:].describe()

       Histology
count  72.000000
mean    1.486111
std     0.503315
min     1.000000
25%     1.000000
50%     1.000000
75%     2.000000
max     2.000000

<p style="font-size: 20px">Data of Alive Persons</p>

In [30]:
hep_data.loc[hep_data['Class']==2].describe()

       Class         Age         Sex  Antivirals   Histology
count  123.0  123.000000  123.000000  123.000000  123.000000
mean     2.0   39.796748    1.130081    1.821138    1.365854
std      0.0   12.828605    0.337769    0.384804    0.483639
min      2.0    7.000000    1.000000    1.000000    1.000000
25%      2.0   30.000000    1.000000    2.000000    1.000000
50%      2.0   38.000000    1.000000    2.000000    1.000000
75%      2.0   50.000000    1.000000    2.000000    2.000000
max      2.0   78.000000    2.000000    2.000000    2.000000

<p style="font-size: 20px; "> Data of Dead Persons</p>

In [32]:
hep_data.loc[hep_data['Class']==1].describe()

       Class        Age   Sex  Antivirals  Histology
count   32.0  32.000000  32.0   32.000000  32.000000
mean     1.0  46.593750   1.0    1.937500   1.781250
std      0.0   9.944554   0.0    0.245935   0.420013
min      1.0  30.000000   1.0    1.000000   1.000000
25%      1.0  38.750000   1.0    2.000000   2.000000
50%      1.0  46.500000   1.0    2.000000   2.000000
75%      1.0  54.500000   1.0    2.000000   2.000000
max      1.0  70.000000   1.0    2.000000   2.000000

# Creating Train and Test splits

In [39]:
X_train, X_test, y_train, y_test =  train_test_split(hep_data)

ValueError: not enough values to unpack (expected 4, got 2)